.search-body {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  
  margin: 0 auto;
}

.MuiInput-root {
  width: 75%;
}

.MuiButton-outlinedSecondary {
  width: 20%;
}